body *{
    font-family: 'Open Sans', sans-serif;
}

.footer-container {
    width: 950px;
    margin: auto;
}

h1 {
    font-weight: 900;
    font-family: 'DM Serif Display', serif;
    font-size: 50px;
    color: #000000;
}

h2 {
    font-weight: 700;
    font-size: 35px;
    font-family: 'DM Serif Display', serif;
    color: #5a5857;
}

body {
    background-color: rgb(192, 188, 179);
}

.page {
    width: 850px;
    background-color: #FCFAEE;
    margin: auto;
    padding: 50px;
    padding-top: 35px;
}

.vis-container {
    width: 100%;
}

.description h2,
h1 {
    margin-top: 0px;
}

.description-right {
    padding-left: 20px;
}

.description-left {
    padding-right: 20px;
}

.pure-g {
    margin-bottom: 10px;
}

.small-font {
    font-size: 14px;
}

/* self added */
.fit-image {
    width: 100%;
    height: auto;
    display: block;
}

.flex-container {
    display: flex;
    width: 100%;
}

.pure-button {
    margin: 0px 10px;
}

.pure-image-container {
    width: 100%;
    overflow: hidden;
    text-align: center;
}

#event-btn {
    background-color: #ff7f0e;
    color: white;
}

#food-btn {
    background-color: #1f77b4;
    color: white;
}

#beverage-btn {
    background-color: #2ca02c;
    color: white;
}

#overall-btn {
    background-color: grey;
    color: white;
}

.button-container {
    margin-top: 60px;
}

#map-select {
    margin-bottom: 20px;
}

.three-card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 13%;
    padding-right: 13%;
}

.four-card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card {
    width: 140px;
    height: 50px;
    background-color: rgb(243, 231, 215);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    display: flex;
    flex-direction: row;
    align-items: center; /* Center align items vertically */
}

.card-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
}

.card-title {
    font-size: 12px;
    font-weight: bold;
}

.card-text {
    font-size: 12px;
    margin-top: auto;
}

.card-img {
    width: 20%;
    height: auto;
    margin-bottom: 10px;
    object-fit: contain; /* Maintain aspect ratio */
}

.justify-container {
    display: flex;
    text-align: justify;
}

.food {
    color: #0065b3;
    font-weight: bold;
}

.event {
    color: #d71827;
    font-weight: bold;
}

.beverage {
    color: #fbbb29;
    font-weight: bold;
}

select {
    margin-top: 10px;
}

.rank-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(243, 231, 215);
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.rank-card {
    width: 160px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align items vertically */
    justify-content: center;
    text-align: center;
}

.rank-card-img {
    width: 35%;
    height: auto;
    margin-bottom: 10px;
    object-fit: contain; /* Maintain aspect ratio */
}

.rank-card-title {
    margin-top: 10px;
    font-size: 12px;
    font-weight: bold;
}

.rank-card-text {
    font-size: 12px;
    margin-top: auto;
    margin-bottom: 10px;
}

.text {
    line-height: 26px;
}

#heatmap {
    margin-bottom: 50px;
    margin-left: 75px;
}

.rank-title {
    margin-top: 0px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 16px;
}

.key-word {
    font-weight: bold;
    font-style: italic;
    color: #000000;
}

p{
    color: #383636;
}

#bump-chart {
    margin-left: 70px;
}

.female {
    color: #e07a5f;
    font-weight: bold;
}

.male {
    color: #4a4e69;
    font-weight: bold;
}